.flex-table {
    display: flex;
    flex-direction: column;
    background: #fff;
}
.flex-table thead {
    color: #000;
    background: #fff;
}
.flex-table thead tr,
.flex-table tbody tr {
    display: flex;
}
.flex-table tbody tr+tr {
    border-top: 1px solid #ccc;
}
.flex-table thead tr th,
.flex-table tbody tr td {
  display: flex;
  flex: 1;
  padding: .5em;    
}
.flex-table tbody tr:nth-child(1n) {
  border: 1px grey solid;
}

@media screen and (max-width: 640px) {
    .flex-table {
        border: 0;
    }
    .flex-table thead {
        display: none;
    }
    .flex-table tbody tr {
        flex-direction: column;
        margin: 1em;
        border: 1px solid #ccc;
    }
    .flex-table tbody tr td {
        flex-direction: column;
    }
    .flex-table tbody tr td+td {
        border-top: 1px solid #ccc;
    }
    .flex-table tbody tr td:before {
        display: flex;
        align-items: center;
        margin: -.5em -.5em .75em -.5em;
        padding: .5em;
        content: attr(data-label);
        color: #fff;
        background: #009485;
    }
}
.flex-table tbody tr td[colspan]{
    background: #ff6;
}
.flex-table tbody tr td[colspan="2"]{
    flex: 2;
    padding-right: 1.5em;
}
.flex-table tbody tr td[colspan="3"]{
    flex: 3;
    padding-right: 2.5em;
}
.flex-table tbody tr td[colspan="4"]{
    flex: 4;
    padding-right: 3.5em;
}
@media screen and (max-width: 640px) {
    .flex-table tbody tr td[colspan]{
        padding-right: .5em;
    }
}


.item {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  height: 100%;
}

.item_header {
  justify-content: flex-start;

  border-right: 3px grey solid;
}

.item-border {
  border-right: 1px grey dashed;
}

.item-border:nth-child(4n+1) {
  border-right: 3px grey solid;
}

.item-border:nth-child(4n+1) {
  border-right: 3px grey solid;
}